@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background;
  }
}

@layer components {
  .active {
    @apply bg-secondary;
  }

  .login-input {
    @apply rounded-3xl border-2 border-accent px-12 py-6 text-xl;
  }

  .input-primary {
    @apply mt-2 rounded-xl border border-lighest-grey p-4 font-normal outline-2 outline-primary;
  }

  .input-article {
    @apply rounded-xl border-2 border-accent bg-white px-8 py-3;
  }

  .input-settings {
    @apply rounded-md border border-[#C9CED6] bg-white px-6 py-4;
  }

  .heading {
    @apply mb-8 text-2xl font-semibold;
  }

  .btn {
    @apply flex items-center gap-2 rounded-xl px-8 py-3 font-semibold;
  }

  .btn-primary {
    @apply btn bg-secondary text-white transition hover:bg-primary disabled:cursor-not-allowed;
  }

  .btn-secondary {
    @apply btn bg-light-grey text-dark-grey disabled:cursor-not-allowed;
  }

  .btn-action {
    @apply rounded-md bg-[#F1F1F1] px-8 py-2 transition hover:bg-secondary hover:text-white;
  }

  .pill-primary {
    @apply rounded-xl border border-[#EA8552] bg-white px-6 py-2 font-semibold text-[#EA8552];
  }

  .pill-secondary {
    @apply rounded-xl border border-dark-grey bg-white px-6 py-2 text-[#858585];
  }

  .tool-tip-span {
    @apply pointer-events-none absolute z-20 w-max rounded-lg p-2 text-sm text-white opacity-0 transition-opacity group-hover:opacity-100;
  }

  .triangle {
    @apply h-0 w-0 border-[10px] border-b-0 border-t-[10px] border-solid border-t-[#ffffff];
  }

  .tool-tip-div {
    @apply relative w-max;
  }

  .header {
    @apply relative text-center text-[white];
    background: linear-gradient(
      60deg,
      rgba(234, 82, 95, 1) 50%,
      rgba(164, 57, 72, 1) 100%
    );
  }

  .logo {
    @apply inline-block w-[50px] fill-[white] pr-[15px] align-middle;
  }

  .inner-header {
    @apply m-0 h-[65vh] w-full p-0;
  }

  .waves {
    @apply relative -mb-0.5 h-[15vh] max-h-[150px] min-h-[100px] w-full;
  }

  .toggle-container {
    @apply flex items-center gap-2.5 p-2.5;
  }

  .slider-label {
    @apply select-none text-base;
  }

  .slider {
    @apply relative h-[30px] w-[60px] cursor-pointer rounded-[15px] bg-[#ccc] transition-[background-color] duration-[0.3s] ease-[ease-in-out];
  }

  .slider-thumb {
    @apply absolute left-0 top-0 h-[30px] w-[30px] rounded-[50%] bg-white transition-transform duration-[0.3s] ease-[ease-in-out];
  }

  .slider.active {
    @apply bg-[#34c11e];
  }

  .slider.active .slider-thumb {
    @apply translate-x-[30px];
  }

  .slider.in-active {
    @apply bg-[#dbdcdb];
  }

  .update-user {
    @apply /*
    */ z-[100] bg-[#4f4f4f40]
    backdrop-blur-[2px];
  }

  .card-img {
    @apply h-[170px] w-full bg-[url("../src/assets/couponsbg.png")] bg-contain bg-no-repeat;
  }

  .disable-filter {
    @apply blur-none brightness-[35%] contrast-[110%];
  }

  .tooltip-arrow {
    @apply absolute h-3 w-3 rotate-45 transform border-2 border-solid border-[transparent_transparent_black_transparent] border-black bg-black;
  }

  .chip-red {
    @apply rounded-md border border-[#EA525F] bg-[#ea525f1f] px-4 text-[#EA525F];
  }

  .chip-green {
    @apply rounded-md border border-[#48A740] bg-[#49a74024] px-4 text-[#48A740];
  }

  .disabled-card {
    @apply cursor-not-allowed border border-solid border-[#ccc] bg-[#c9c6c6] opacity-60 shadow-none grayscale;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer utilities {
  select,
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  textarea {
    resize: none;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  ::-webkit-scrollbar {
    @apply w-2 rounded-xl;
  }

  ::-webkit-scrollbar-track {
    @apply bg-white p-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-light-grey;
  }
}
